{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    {% translate "Marketplace" %} | African Cities Lab - 2023 Summit
{% endblock title %}
{% block static_meta_tag %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title"
          content="{% translate "Marketplace" %} | African Cities Lab - 2023 Summit"/>
    <meta name="twitter:description"
          content="{% translate "By 23th and 24th May 2023, the African Cities Lab platform will bring together governments, urban professionals, academic researchers, entrepreneurs, public and private actors and youth from all over the world in order to uplift african cities development." %}"/>
    <meta name="twitter:site" content="@AfricanCtiesLab" />
    <meta itemprop='image'
          content="{% static 'images/assets/visuel-officiel512x512.png' %}"/>
    <meta property="og:title"
          content="{% translate "Marketplace" %} | African Cities Lab - 2023 Summit"/>
    <meta property="og:description"
          content="{% translate "By 23th and 24th May 2023, the African Cities Lab platform will bring together governments, urban professionals, academic researchers, entrepreneurs, public and private actors and youth from all over the world in order to uplift african cities development." %}"/>
    <meta property="og:site_name" content="African Cities Lab - 2023 Summit" />
    <meta itemprop='image'
          content="{% static 'images/assets/visuel-officiel512x512.png' %}"/>
    <meta itemprop="name"
          content="{% translate "Marketplace" %} | African Cities Lab - 2023 Summit"/>
    <meta itemprop='description'
          content="{% translate "By 23th and 24th May 2023, the African Cities Lab platform will bring together governments, urban professionals, academic researchers, entrepreneurs, public and private actors and youth from all over the world in order to uplift african cities development." %}"/>
    <meta itemprop='image'
          content="{% static 'images/assets/visuel-officiel512x512.png' %}"/>
{% endblock static_meta_tag %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/__marketplace.css' %}" rel="stylesheet" />
    <style>
        .page-banner {
           background-image: url({% static "images/assets/banner-aclsummit.jpg" %});
           background-position: top center
        }
    </style>
{% endblock css %}
{% block content %}
    <section class="page-banner">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-12 col-md-6">
                    <div class="position-relative h1">
                        {% translate "Marketplace" %}
                        <span class="dash-accent"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="exhibitor-entry">
        <div class="exhibitor-entry__header">
            <div class="exhibitor-entry__header__logo"
                 style="background-image: url({% static 'images/assets/ico_company.png' %})">
            </div>
            <div class="exhibitor-entry__header__infos">
                <div class="h3 exhibitor-entry__hero__title">229 Cadre de Vie</div>
                <div class="exhibitor-entry__hero__meta">African Design School</div>
            </div>
        </div>
        <div class="exhibitor-entry__body">
            <div class="container">
                <div class="row py-5 border-bottom-1">
                    <div class="col-12">
                        <div class="exhibitor-entry__body__description font-size-16">
                            <p>
                                {% blocktranslate %}
                                A partnership has been set up between Africa Design School and the Ministry of the Living Environment and Sustainable
                                Development in order to implement a solution to the problems identified.
                                {% endblocktranslate %}
                            </p>
                            <p>
                                {% blocktranslate %}
                                As part of its mission to improve the living environment, the Ministry wishes to develop a digital solution that allows
                                people to collaborate with its teams to help improve their living environment.
                                {% endblocktranslate %}
                            </p>
                            <p>
                                {% blocktranslate %}
                                « <strong>229 Cadre de Vie</strong> » is a service that will enable citizens to play a role in improving their living environment.
                                {% endblocktranslate %}
                            </p>
                            <p>
                                {% blocktranslate %}
                                Les utilisateurs pourront interagir avec l’équipe du ministère en signalant les dysfonctionnements constatés dans la rue, que ce soit des problématiques de propreté, de voirie ou de circulation.
                                {% endblocktranslate %}
                            </p>
                            <p>
                                {% blocktranslate %}
                                With a few clicks and a photo, users can become active citizens and participate in improving our living environment.
                                {% endblocktranslate %}
                            </p>
                            <p>
                                {% blocktranslate %}
                                The report will be processed by the relevant technical department and users will be able to track the progress of their requests.
                                {% endblocktranslate %}
                            </p>
                        </div>
                        <div class="exhibitor-entry__body__more py-5">
                            <div class="exhibitor-entry__contacts">
                                <h5 class="font-size-18 mb-2">{% translate "Contacts" %}</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="mailto:k.saka@africadesign.school">k.saka@africadesign.school</a>
                                    </li>
                                    <li class="pt-2">+229 69 01 80 19</li>
                                </ul>
                            </div>
                            <div class="exibitor-entry__additionnal">
                                <div class="exibitor-entry__download__btn">
                                    <a target="_blank"
                                       href="{% static 'images/assets/marketplace/Presentation 229 Cadre de vie.pdf' %}"
                                       download>
                                        <div class="download-ico">
                                            <img alt="download-ico"
                                                 width="28"
                                                 height="28"
                                                 src="{% static 'images/assets/download-ico.svg' %}"/>
                                        </div>
                                        <div class="ico-text">{% translate "Download presentation" %}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-5 text-center">
                    <a class="btn btn__small btn__primary"
                       role="button"
                       href="{% url 'marketplace' %}">{% translate "Back to marketplace" %}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
