{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    {% translate "Marketplace" %} | African Cities Lab - 2023 Summit
{% endblock title %}
{% block static_meta_tag %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title"
          content="{% translate "Marketplace" %} | African Cities Lab - 2023 Summit"/>
    <meta name="twitter:description"
          content="{% translate "By 23th and 24th May 2023, the African Cities Lab platform will bring together governments, urban professionals, academic researchers, entrepreneurs, public and private actors and youth from all over the world in order to uplift african cities development." %}"/>
    <meta name="twitter:site" content="@AfricanCtiesLab" />
    <meta itemprop='image'
          content="{% static 'images/assets/visuel-officiel512x512.png' %}"/>
    <meta property="og:title"
          content="{% translate "Marketplace" %} | African Cities Lab - 2023 Summit"/>
    <meta property="og:description"
          content="{% translate "By 23th and 24th May 2023, the African Cities Lab platform will bring together governments, urban professionals, academic researchers, entrepreneurs, public and private actors and youth from all over the world in order to uplift african cities development." %}"/>
    <meta property="og:site_name" content="African Cities Lab - 2023 Summit" />
    <meta itemprop='image'
          content="{% static 'images/assets/visuel-officiel512x512.png' %}"/>
    <meta itemprop="name"
          content="{% translate "Marketplace" %} | African Cities Lab - 2023 Summit"/>
    <meta itemprop='description'
          content="{% translate "By 23th and 24th May 2023, the African Cities Lab platform will bring together governments, urban professionals, academic researchers, entrepreneurs, public and private actors and youth from all over the world in order to uplift african cities development." %}"/>
    <meta itemprop='image'
          content="{% static 'images/assets/visuel-officiel512x512.png' %}"/>
{% endblock static_meta_tag %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/__marketplace.css' %}" rel="stylesheet" />
    <style>
        .page-banner {
           background-image: url({% static "images/assets/banner-aclsummit.jpg" %});
           background-position: top center
        }
    </style>
{% endblock css %}
{% block content %}
    <section class="page-banner">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-12 col-md-6">
                    <div class="position-relative h1">
                        {% translate "Marketplace" %}
                        <span class="dash-accent"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="exhibitor-entry">
        <div class="exhibitor-entry__header">
            <div class="exhibitor-entry__header__logo"
                 style="background-image: url({% static 'images/assets/marketplace/RMobilitylogo.png' %})">
            </div>
            <div class="exhibitor-entry__header__infos">
                <div class="h3 exhibitor-entry__hero__title">RMobility</div>
                <div class="exhibitor-entry__hero__meta">RAYNIS</div>
            </div>
        </div>
        <div class="exhibitor-entry__body">
            <div class="container">
                <div class="row py-5 border-bottom-1">
                    <div class="col-12">
                        <div class="exhibitor-entry__body__description font-size-16">
                            <p>
                                {% blocktranslate %}
                            RMobility is a complete digital platform for carpooling, car sharing, cotaxi and cobus. and passengers
                             wishing to make a joint journey. The idea is to help these users get around  at a lower cost and in complete
                             safety.
                            {% endblocktranslate %}
                            </p>
                            <p>
                                {% blocktranslate %}
                                Available on all stores (AppleStore, Google PlayStore and Huawei AppGallery Store), this application is based
                                on the principle of multimodality, intermodality to provide a common mobility service (MaaS) in West African
                                metropolises by bringing together four modes of travel, namely motorbikes, inter-city taxis, cars and other vehicles,
                                the inter-city taxi, the private car and the coach for carpooling and the car-sharing service car-sharing service.
                                {% endblocktranslate %}
                            </p>
                            <div class="exhibitor-entry__body__vid text-center py-4">
                                <iframe width="800"
                                        height="425"
                                        src="https://www.youtube.com/embed/BgHIuPlhbBE"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="exhibitor-entry__body__more py-5">
                            <div class="exhibitor-entry__contacts">
                                <h5 class="font-size-18 mb-2">{% translate "Contacts" %}</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="mailto:info@raynis.co">info@raynis.co</a>
                                    </li>
                                    <li class="pt-2">+229 51390971</li>
                                    <li class="pt-2">
                                        <a href="https://rmobility.raynis.co" class="text_primary">rmobility.raynis.co</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="exibitor-entry__additionnal">
                                <div class="exibitor-entry__social font-size-22">
                                    <ul class="list-inline my-3">
                                        <li class="list-inline-item mx-2">
                                            <a href="https://twitter.com/RMobility001"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item mx-2">
                                            <a href="https://www.linkedin.com/company/rmobility/?viewAsMember=true"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li class="list-inline-item mx-2">
                                            <a href="https://www.facebook.com/RMobilityafrica"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-5 text-center">
                    <a class="btn btn__small btn__primary"
                       role="button"
                       href="{% url 'marketplace' %}">{% translate "Back to marketplace" %}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
