#agenda-page-pdf {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

#agenda-page-pdf .page-banner {
  background-image: url("../images/assets/banner-aclsummit.jpg");
  background-position: top center;
  padding: 0 3rem;
  min-height: 265px;
}

.legend-color {
  border: 0.5px solid #ecf1f9;
  margin-right: 8px;
  width: 38px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.cotonou {
  background-color: #c8e9e0;
}

.benguerir {
  background-color: #d0d8e9;
}

.kumasi {
  background-color: #fcf6c1;
}

.onsite {
  background-color: #eae9e9;
}

.sheldule-download__btn > a {
  color: #000;
}

.sheldule-download__btn > a:hover {
  color: #be3e20;
}

.sheldule-nav {
  width: 100%;
  margin: 0 0 2em;
  padding: 0;
  list-style: none;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}

.sheldule-nav .sheldule-date {
  display: inline-block;
  padding: 0.75em 0;
  margin: 0 1.5em;
  font-size: 18px;
  font-weight: 500;
  border-bottom: solid 2px #be3e20;
}

.sheldule-wrap {
  position: relative;
  z-index: 2;
  width: 100%;
}

.sheldule-wrap .single-sheldule-item .sheldule-time {
  width: 100%;
  margin: 5px;
  padding: 10px 5px;
  background: #442683;
  color: #ffffff;
  border-top: solid 1px #ededed;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.sheldule-wrap .single-sheldule-item .sheldule-content {
  width: 100%;
}

.sheldule-wrap .single-sheldule-item .sheldule-content .sheldule-session {
  margin: 5px;
  width: 100%;
  padding: 20px;
  font-size: 16px;
}

.sheldule-content .sheldule-session .session-title {
  font-weight: 500;
}

.sheldule-content .sheldule-session .session-duration {
  font-size: 14px;
  margin-top: 6px;
}

.sheldule-content .sheldule-session .session-duration:before {
  content: "|";
  margin-right: 4px;
}

.sheldule-content .sheldule-session .session-description {
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 1.33;
  word-break: break-word;
}

#sheldule-tab #sheldule-navigation.nav-tabs {
  justify-content: center;
  margin: 1.5rem 0;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

#sheldule-tab #sheldule-navigation.nav-tabs li a.nav-link {
  font-size: 18px;
  border: none !important;
  font-weight: bold;
  padding: 1em 0;
  margin: 0 0.8em;
}

#sheldule-tab #sheldule-navigation.nav-tabs li a.nav-link.active {
  border: none;
  border-bottom: solid 2px #be3e20 !important;
}

#sheldule-tab #sheldule-navigation.nav-tabs li a.nav-link:hover {
  border: none;
}

@media (min-width: 600px) {
  .sheldule-wrap .single-sheldule-item .sheldule-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sheldule-wrap .single-sheldule-item .sheldule-time {
    width: 17%;
    margin: 5px 5px 5px 0;
    padding: 25px 24px;
  }

  .sheldule-wrap .single-sheldule-item .sheldule-content {
    width: 83%;
  }
}

@media (min-width: 768px) {
  .sheldule-wrap .single-sheldule-item .sheldule-time {
    width: 13%;
  }

  .sheldule-wrap .single-sheldule-item .sheldule-content {
    width: 87%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
  }

  .sheldule-wrap .single-sheldule-item .sheldule-content .sheldule-session {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: calc((100% / 3) - 30px);
  }

  #sheldule-tab #sheldule-navigation.nav-tabs li a.nav-link {
    padding: 1.5em 0;
    margin: 0 1.5em;
  }
}
