{% load i18n static %}
<div class="sheldule-wrap">
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "08:30 AM - 09:00 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">{% translate "Welcome services" %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "09:00 AM - 10:00 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Ouidah city transformation" %}
                    </div>
                    <div class="session-description">
                        {% blocktranslate %}
                        The development of the coastal city of Ouidah in Benin is a key challenge for the Beninese government,
                        which is developing several projects, including the design and development of the Marina hotel complex
                        and the Sèmè City campus, a 346 ha eco city. Closeup on the construction of a smart city which will
                        contribute to developing the tourist and economic attractiveness of Benin.
                        {% endblocktranslate %}
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Christian HOUETCHENOU"
                                     src="{% static "images/assets/speakers/Christian Houétchénou.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Christian HOUETCHENOU -
                                <span class="font-size-12">{% translate "Mayor of Ouidah" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Halim ASSOUMA"
                                     src="{% static "images/assets/speakers/Halim ASSOUMA.jpeg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Halim ASSOUMA -
                                <span class="font-size-12">{% translate "Head of Management and Planning of Sèmè City" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Olayimika FALADE"
                                     src="{% static "images/assets/speakers/Ola Faladé.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Olayimika FALADE -
                                <span class="font-size-12">{% translate "Associate Architect Cobloc Architecture" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "10:00 AM - 10:30 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Coffee break" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "09:00 AM - 09:45 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "The use of spatial data analysis for risk management" %}
                    </div>
                    <div class="session-description">
                        {% blocktranslate %}
                        In this sesson , we will explore the crucial role of spatial data analysis in managing risks in African cities.
                        Using real-world examples, we will examine the challenges and opportunities presented by the diverse and rapidly
                        growing urban landscapes of Africa. We will highlight how spatial data analysis can help decision-makers to better
                        understand and mitigate risks such as natural disasters, crime, and disease outbreaks.
                        {% endblocktranslate %}
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Hicham BAHI"
                                     src="{% static "images/assets/speakers/Hicham Bahi.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Hicham BAHI -
                                <span class="font-size-12">{% translate "Assistant Professor at Mohammed VI Polytechnic University" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Willy Franck SOB"
                                     src="{% static "images/assets/speakers/Willy Franck SOB.jpg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Willy Franck SOB -
                                <span class="font-size-12">{% translate "Founder of GeOsm Family" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "09:45 AM - 10:30 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Agadir Smart City: An intelligent environment for a sustainable and resilient city" %}
                    </div>
                    <div class="session-description">
                        {% blocktranslate %}
                        During this session, we will examine the key features and successes of the Agadir Smart City initiative, including the use of
                        renewable energy, smart waste management, and digital services for citizens. Through several examples, we will explore the
                        potential of Smart Cities to drive economic growth and address pressing urban challenges, while creating a more livable and
                        sustainable community in Agadir.
                        {% endblocktranslate %}
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Ismail EL OMARI"
                                     src="{% static "images/assets/speakers/Ismail El Omari.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Ismail EL OMARI -
                                <span class="font-size-12">{% translate "Architect, Agadir City Councillor, and member of the urban planning & smart city committee" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "09:00 AM - 10:30 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Women's entrepreneurship in the city" %}
                    </div>
                    <div class="session-description">
                        {% blocktranslate %}
                        This panel session will explore the challenges and opportunities faced by women entrepreneurs in African cities.
                        We will discuss the unique barriers that women face in starting and growing their businesses, and how these
                        challenges can be overcome through targeted policy interventions and support networks. Drawing on a case study
                        from an African city, we will examine the ways in which women-led businesses are driving economic growth, creating
                        jobs, and promoting social change. Ultimately, we will highlight the vital role that women's entrepreneurship plays
                        in building more inclusive and sustainable African cities.
                        {% endblocktranslate %}
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Kamal AZMI"
                                     src="{% static "images/assets/speakers/Kamal Azmi.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Kamal AZMI -
                                <span class="font-size-12">{% translate "Academic researcher in the field of management" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sheldule-session kumasi">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "GHANA" %}</span>
                        <span class="mx-1">|</span>{% translate "Session 1: The effects of port activities on transport, mobility, and urban form-case study cities: Accra, Lomѐ, Djibouti" %}
                    </div>
                    <div class="session-description">
                        {% blocktranslate %}
                        In port and maritime geography, ports play an important role in the economies of cities and act as catalysts and
                        incite development in specific economic sectors and locations near ports or along corridors. This section discusses
                        the port-city relationship of three port cities (i.e., Lomè, Djibouti, and Tema).
                        {% endblocktranslate %}
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Augustus ABABIO-DONKOR"
                                     src="{% static "images/assets/speakers/Augustus ABABIO-DONKOR.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Augustus ABABIO-DONKOR -
                                <span class="font-size-12">{% translate "Transport Analyst, Lecturer & Research Coordinator, Regional Transport Research and Education Centre, Kumasi (TRECK), KNUST" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "10:30 AM - 11:30 AM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Unlocking Africa's Tourism Potential: The Power of social media Data-driven Strategies" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            By building new cities models in Africa to improve the living environment of the population, urban actors are aiming
                            at a significant objective: make African cities the most pleasant living places in the world.
                            {% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %}
                            The new tourism actors, agencies, influencers or tourism project owners are anticipating this long-term objective
                            and are helping to discover Africa and its opportunities by using social networks as inexhaustible sources of data.
                            {% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %}
                            With these new players, discover how social network data is reinventing tourism in Africa.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "10:30 AM - 11:00 AM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Coffee break" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "11:00 AM - 11:30 AM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Coffee break" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "11:30 AM - 12:30 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Collecting data to improve basic urban services in Africa Mobility - Health - Urban management" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            By enabling better management of services such as energy, urban mobility and waste management, ICTs play an important role in
                            the development of African cities. The optimisation of public services requires the mobilisation of data produced by users
                            in order to improve the living quality of populations on the continent.
                            {% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %}
                            Join the discussion between public actors, start-ups and entrepreneurs in Benin who are designing and using innovative
                            digital solutions to improve the quality of life of users.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Roland HOUNGBADJI"
                                     src="{% static "images/assets/speakers/Roland HOUNGBADJI.jpeg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Roland HOUNGBADJI -
                                <span class="font-size-12">{% translate "Entrepreneur, Co-founder of the Pharmap application" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Gilles AMOUSSOU"
                                     src="{% static "images/assets/speakers/Gilles AMOUSSOU.jpg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Gilles AMOUSSOU -
                                <span class="font-size-12">{% translate "General Manager of the Waste Management Company" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "11:00 AM - 12:30 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Cloud computing for urban planning in Africa: the case of GEE" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            In this tutorial, we will explore the potential of cloud computing for urban planning in Africa, using Google
                            Earth Engine (GEE) as a case study. We will provide an overview of GEE and its capabilities and demonstrate
                            how it can be used to analyze and visualize urban spatial data. We will also discuss the benefits and challenges
                            of cloud computing for urban planning in African cities, including issues related to data accessibility and privacy.
                            By the end of the tutorial, participants will have a better understanding of how to use cloud computing tools like
                            GEE to improve urban planning outcomes in Africa.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Rida AZMI"
                                     src="{% static "images/assets/speakers/Rida AZMI.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Rida AZMI -
                                <span class="font-size-12">{% translate "Researcher at the Center of Urban Systems (CUS) at Mohammad VI Polytechnic University" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Urban extension modeling with QGIS" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            This tutorial will explore how QGIS can be used to analyze urban growth patterns and predict future expansion, with a
                            focus on techniques such as land use change modeling, suitability analysis, and spatial regression. We will also discuss
                            the potential of these methods for informing urban planning and policy decision-making. By the end of the tutorial,
                            participants will have gained practical skills in using QGIS for urban extension modeling and be better equipped to
                            apply these techniques in their own work.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Younous LAHBOUB"
                                     src="{% static "images/assets/speakers/Younous Lahboub.jpg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Younous LAHBOUB -
                                <span class="font-size-12">{% translate "Project manager at SADV/OCP" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Workshop session" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            Workshop session on different areas of urban planning in Africa.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Stéphane TÉKOUABOU"
                                     src="{% static "images/assets/speakers/Stéphane TEKOUABOU.jpg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Stéphane TÉKOUABOU -
                                <span class="font-size-12">{% translate "Researcher at the Center of Urban System (CUS) of the Mohammed VI Polytechnic University" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sheldule-session kumasi">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "GHANA" %}</span>
                        <span class="mx-1">|</span>{% translate "Session 2: Public transport system and public health risk" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            Rapid population growth and urbanization are stimulating growth in African cities. The informal and inefficient
                            public transport system in most African cities has increased vehicular traffic with its associated externalities.
                            This section investigates the public transport systems and the major public health hazard of transport in Africa.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Augustus ABABIO-DONKOR"
                                     src="{% static "images/assets/speakers/Augustus ABABIO-DONKOR.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Augustus ABABIO-DONKOR -
                                <span class="font-size-12">{% translate "Transport Analyst, Lecturer & Research Coordinator, Regional Transport Research and Education Centre, Kumasi (TRECK), KNUST" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "12:30 PM - 02:30 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        {% translate "Coffee break" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "02:30 PM - 04:30 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "African Cities Lab: A gamechanger that transforms African cities" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            Presentation of the <a href="https://africancitieslab.org/" target="_blank">African Cities Lab project</a>:
                            Six institutions from Anglophone and Francophone Africa are collaborating to create an African digital
                            education platform on urban development, offering quality MOOCs and online continuing education for professionals.
                            It also serves as a forum for the exchange of digital educational resources and management and governance of African
                            cities to promote sustainable urban development.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "02:30 PM - 04:00 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Digital transformation and digital governance" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            In this session, we will showcase recent research that explores the ways in which digital technologies are shaping
                            urban citizenship, participation, and governance in Africa, and the opportunities and challenges that arise from
                            these changes. Topics will include the role of digital platforms in promoting citizen engagement and accountability,
                            the challenges of bridging the digital divide and ensuring equitable access to digital technologies, and the
                            implications of digital governance for democratic processes and civic participation. The papers will provide
                            important insights for policymakers, scholars, and practitioners working at the intersection of digital technologies
                            and urban governance in Africa.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="El Bachir DIOP"
                                     src="{% static "images/assets/speakers/El Bachir DIOP.jpg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                El Bachir DIOP -
                                <span class="font-size-12">{% translate "Researcher at the Center of Urban Systems (CUS) at Mohammed VI Polytechnic University" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Nesrine CHERATA"
                                     src="{% static "images/assets/speakers/Nesrine CHERATA.jpeg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Nesrine CHERATA -
                                <span class="font-size-12">{% translate "Senior Lecturer in machine learning for Earth observation and Geomatics - Bordeaux INP" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Architecture and urban development" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            This session will examine the intersections of architecture and urbanism, with a focus on the design, planning,
                            and development of sustainable and livable urban spaces in Africa. The session will feature papers that explore
                            a range of issues, including urban morphology, housing, public spaces, heritage conservation, new city development,
                            and community participation, through a variety of theoretical and empirical perspectives. The aim of this session
                            is to foster interdisciplinary dialogue and exchange of ideas among architects, urban designers, planners, and scholars,
                            and to promote innovative approaches to architecture and urban development in the African context.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Hicham BAHI"
                                     src="{% static "images/assets/speakers/Hicham Bahi.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Hicham BAHI -
                                <span class="font-size-12">{% translate "Assistant Professor at Mohammed VI Polytechnic University" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Socioeconomic challenges of African cities" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            This session will address the complex and diverse issues that affect the social and economic well-being
                            of urban populations in Africa. The session will feature papers that explore a range of topics, including
                            poverty, the socioeconomic impacts of COVID-19, unemployment, and social exclusion, with a focus on urban youth.
                            The aim of this session is to provide a platform for researchers and practitioners to share insights and experience
                            and to propose innovative strategies and policies that can help to address the socioeconomic challenges facing
                            African cities.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Kamal AZMI"
                                     src="{% static "images/assets/speakers/Kamal Azmi.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Kamal AZMI -
                                <span class="font-size-12">{% translate "Academic researcher in the field of management" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "04:00 PM - 05:00 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Coffee break/Posters" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            Posters presentations on different areas of urban planning in Africa.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "04:30 PM - 05:00 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Coffee break" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "05:00 PM - 06:00 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Restitution of the Hackathon (Innovation Lab)" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            Optimising drinking water management in the new eco-city of Seme City. As part of the African Cities Lab - 2023 Summit,
                            a hackathon was organised with 12 teams of 5 people. The objective is to find digital solutions to reuse the grey water
                            of the future Seme City campus. The restitution is an opportunity for the 5 finalist teams to present their solutions
                            to a multidisciplinary jury.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "05:00 PM - 05:30 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Closing remarks" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "05:30 PM - 06:00 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Award ceremony" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "06:00 PM - 06:15 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Key note - plenary session" %}
                    </div>
                    <div class="session-speakers pt-3">
                        <div class="speaker-list__speaker">
                            <!--div class="speaker-list__speaker__img">
                                <img alt="Rebecca" src="{% static "images/assets/speakers/Jérôme Chenal.jpg" %}"/>
                            </div-->
                            <span class="speaker-list__speaker__name font-size-14">
                                Rebecca -
                                <span class="font-size-12">{% translate "Learner in the TINIMA program" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "06:30 PM - 07:30 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        {% translate "Closing Cocktail" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
