{% load i18n static %}
<div class="sheldule-wrap">
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "08:30 AM - 09:00 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">{% translate "Welcome services" %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "09:00 AM - 09:10 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Opening Ceremony" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "09:10 AM - 09:15 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Datafrication: From Data to African Smart Cities" %}
                    </div>
                    <div class="session-description">
                        {% blocktranslate %}
                        The challenges related to the accelerated demographic expansion observed in Africa would find their
                        solutions in the new ICTs developed over the last decades. Mobile phone networks, internet, social networks,
                        mobility applications, mobile payment, online shopping, etc. Digital transformation of traditional services
                        has led to the production and use of an infinite amount of data that will be useful in building citizen-centred
                        smart cities.
                        {% endblocktranslate %}
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Jérôme Chenal"
                                     src="{% static "images/assets/speakers/Jerome chenal.jpg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Jérôme CHENAL -
                                <span class="font-size-12">{% translate "Director of the Centre of Excellence in Africa" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Claude Borna"
                                     src="{% static "images/assets/speakers/Claude Borna.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Claude BORNA -
                                <span class="font-size-12">{% translate "Managing Director and Chief Innovation Officer at Sèmè City Development Agency" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "09:15 AM - 09:30 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "The African city of 2043 as imagined by African youth" %}
                    </div>
                    <div class="session-description">
                        {% blocktranslate %}
                        You are invited to take a twenty-year leap into the future with Rebecca, a 12-year-old learner in the
                        TINIMA programme initiated by Sèmè City. Welcome to the year 2043, where eco-neighbourhoods, smart networks,
                        innovative mobility and fully digitalized services are flourishing in African cities at the service of a
                        sustainable and inclusive living environment for citizens.
                        {% endblocktranslate %}
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <!--div class="speaker-list__speaker__img">
                                <img alt="Rebecca" src="{% static "images/assets/speakers/Jérôme Chenal.jpg" %}"/>
                            </div-->
                            <span class="speaker-list__speaker__name font-size-14">
                                Rebecca -
                                <span class="font-size-12">{% translate "Learner in the TINIMA program" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "09:30 AM - 10:15 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "The politician and the architect" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            Whereas the African city is in the process of transformation to address the urban challenges it faces,
                            the public sector is giving more and more importance to collaborative work with the private sector.
                            The relationship between public and private actors is being shaken up. This evolution of collaboration
                            methods is stimulating, particularly with regard to the technological evolution that allows the city
                            to be reconsidered in an innovative way.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="José TONATO"
                                     src="{% static "images/assets/speakers/Jose-Didier-Tonato.jpg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                José TONATO -
                                <span class="font-size-12">{% translate "Minister of Living Environment, Transport in charge of Sustainable Development of Benin" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Romarick ATOKE"
                                     src="{% static "images/assets/speakers/Romarick ATOKE.jpeg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Romarick ATOKE -
                                <span class="font-size-12">{% translate "Architect, Global Archi Consult" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "10:15 AM - 10:45 AM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">{% translate "Coffee break" %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "10:45 AM - 12:00 PM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Collective intelligence: youth, robots and the African city of tomorrow" %}
                    </div>
                    <div class="session-description">
                        {% blocktranslate %}
                        Second academic year students of Africa Design School, the first design school in Benin, will present the result
                        of a Datavisualization workshop on relationship between mobility data and data collected in the experimental
                        eco-city of Sèmè One, the first campus of the Sèmè City project.
                        {% endblocktranslate %}
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <!--div class="speaker-list__speaker__img">
                                <img alt="Africa Design School" src="{% static "images/assets/speakers/Jérôme Chenal.jpg" %}"/>
                            </div-->
                            <span class="speaker-list__speaker__name font-size-14">
                                {% translate "Second academic year students of Africa Design School" %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">{% translate "12:00 AM - 02:00 PM" %}</div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        {% translate "Lunch break" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "02:00 PM - 02:30 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Resilience and adaptation of African" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            This keynote speech will explore the challenges faced by cities in Africa, including rapid urbanization, climate change,
                            and economic disparities. The keynote will highlight the importance of building resilience in African cities to ensure
                            that they can withstand shocks and stresses while continuing to provide essential services and opportunities for their residents.
                            It will also discuss successful examples of resilience-building efforts in African cities and offer insights into how these efforts
                            can be scaled up and replicated across the continent. Ultimately, the keynote will emphasize the urgent need for a collaborative
                            and coordinated approach to building resilient African cities that can thrive in the face of adversity.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Hassan RADOINE"
                                     src="{% static "images/assets/speakers/Hassan-Radoine.jpeg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Hassan RADOINE -
                                <span class="font-size-12">{% translate "Director of the School of Architecture, Urban Planning and Design (SAP + D) at the Mohammed VI Polytechnic University" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "02:15 PM - 03:00 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "The professional and the opinion leader Digital technologies and infrastructures" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            Innovation at the service of the city and its users is a key issue in addressing the urban challenges of the century and
                            can raise economic, social and even ethical questions.
                            {% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %}
                            Join two key players in the construction of new models of cities in Africa who will analyse how NICTs work in the urban question.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Kevin DEGILA"
                                     src="{% static "images/assets/speakers/Kevin Degila.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Kevin DEGILA -
                                <span class="font-size-12">{% translate "Artificial intelligence engineer, content creator on Youtube and teacher" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Karen CATARY"
                                     src="{% static "images/assets/speakers/Caren KATARY.jpeg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Caren KATARY -
                                <span class="font-size-12">{% translate "Director of Services for the State (Société des Infrastructures Numériques du Bénin)" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "02:15 PM - 04:00 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Workshop - Towards sustainable and healthy living environments in Africa: Public health and territorial planning policies connections" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "02:30 PM - 03:00 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Urban geoinformation and its applications in African cities" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            This keynote speech will delve into the critical role of geospatial data and technology in informing urban
                            planning and development decisions in African cities. The keynote will showcase successful applications of
                            geoinformation in African cities and highlight the potential for these technologies to improve urban services,
                            promote sustainability, and enhance resilience. It will also address the challenges faced by African cities in
                            accessing and utilizing geospatial data and technology. Ultimately, the keynote will emphasize the need for
                            collaborative efforts and public engagement approaches to leverage geoinformation to address urban challenges
                            and support sustainable urban development in Africa.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Nesrine Chehata"
                                     src="{% static "images/assets/speakers/Nesrine CHERATA.jpeg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Nesrine CHERATA -
                                <span class="font-size-12">{% translate "Senior Lecturer in machine learning for Earth observation and Geomatics - Bordeaux INP" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "03:00 PM - 03:30 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "The rural to the rescue of the urban" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            This keynote speech will highlight the importance of building strong partnerships between rural and urban
                            communities and showcase examples of successful collaborations that have resulted in sustainable and
                            equitable urban development. The aim of this speech is to inspire new thinking and action and to promote
                            greater awareness of the value of rural-urban linkages in shaping the future of cities.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Selma ZERHOUNI"
                                     src="{% static "images/assets/speakers/Selma Zerhouni.jpeg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Selma ZERHOUNI -
                                <span class="font-size-12">{% translate "Professor at the School of Architecture, Urban Planning and Design (SAP + D) at the Mohammed VI Polytechnic University" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "03:15 PM - 04:15 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Data protection in African cities of tomorrow" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            Whereas the notion of smart cities places the user at the centre of the city's activities, the alliance
                            between digital technology and innovation will make it possible to improve the comfort and quality of
                            life of the populations that are becoming more and more producers and consumers of data.
                            {% endblocktranslate %}
                        </p>
                        <p>
                            {% blocktranslate %}
                            In this context, the regulation of data in Africa will have to be established as an essential tool in the
                            fight against all forms of acts that would affect the security and well-being of populations.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "04:15 PM - 04:45 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Coffee break" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "03:30 PM - 04:00 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Coffee break" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "04:00 PM - 05:30 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Remote sensing and smart GIS" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            This session will examine the latest developments and applications of remote sensing and GIS technologies in
                            the context of African urban environments. The session will feature papers that highlight the potential of
                            remote sensing and smart GIS for urban planning, environmental monitoring, disaster management, and public
                            service delivery in African cities. Through case studies and theoretical frameworks, this session aims to
                            provide a platform for researchers and practitioners to exchange ideas and explore innovative approaches to
                            using remote sensing and GIS technologies to support sustainable urban development in Africa.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Rida AZMI"
                                     src="{% static "images/assets/speakers/Rida AZMI.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Rida AZMI -
                                <span class="font-size-12">{% translate "Researcher at the Center of Urban Systems (CUS) at Mohammad VI Polytechnic University" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Nessrine Chehata"
                                     src="{% static "images/assets/speakers/Nesrine CHERATA.jpeg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Nesrine CHERATA -
                                <span class="font-size-12">{% translate "Senior Lecturer in machine learning for Earth observation and Geomatics - Bordeaux INP" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sheldule-session benguerir">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Sustainable mobility for African cities" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            This session will explore the latest advancements and opportunities in the field of mobility in African cities.
                            With a focus on innovative technologies and strategies, this session will feature papers that examine the
                            challenges and benefits of implementing smart mobility solutions in the region, including intelligent transportation
                            systems, optimization methods with machine learning, and sustainable urban transport systems. The session aims to
                            provide a platform for researchers and practitioners to exchange ideas and insights on how smart mobility solutions
                            can contribute to more efficient, sustainable, and equitable transportation in African cities.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="El Bachir Diop"
                                     src="{% static "images/assets/speakers/El Bachir DIOP.jpg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                El Bachir DIOP -
                                <span class="font-size-12">{% translate "Researcher at the Center of Urban Systems (CUS) at Mohammed VI Polytechnic University" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sheldule-session onsite">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "MAROCCO" %}</span>
                        <span class="mx-1">|</span>{% translate "Data-driven methods for urban planning" %}
                    </div>
                    <div class="session-description">
                        <p>
                            {% blocktranslate %}
                            In this session, we will present papers that demonstrate how data analytics, machine learning, and
                            other data-driven techniques can be used to address the unique challenges facing African cities,
                            such as informal settlements, inadequate infrastructure, and rapid urbanization. Topics will include
                            the use of satellite imagery and geospatial data to inform urban planning decisions, the application
                            of social media data to better understand urban dynamics, and the use of predictive modeling to anticipate
                            future urban growth. The papers will provide valuable insights for urban planners, policymakers, and researchers in Africa.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="session-speakers">
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="El Arbi Alaoui Abdellaoui"
                                     src="{% static "images/assets/speakers/El Arbi Alaoui Abdellaoui.png" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                El Arbi Alaoui Abdellaoui -
                                <span class="font-size-12">{% translate "Assistant Professor at University Moulay Ismail of Meknes" %}</span>
                            </span>
                        </div>
                        <div class="speaker-list__speaker">
                            <div class="speaker-list__speaker__img">
                                <img alt="Stéphane Tékouabou"
                                     src="{% static "images/assets/speakers/Stéphane TEKOUABOU.jpg" %}"/>
                            </div>
                            <span class="speaker-list__speaker__name font-size-14">
                                Stéphane TÉKOUABOU -
                                <span class="font-size-12">{% translate "Researcher at the Center of Urban System (CUS) of the Mohammed VI Polytechnic University" %}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-sheldule-item">
        <div class="sheldule-info">
            <div class="sheldule-time">
                {% translate "04:45 PM - 05:15 PM" %}
            </div>
            <div class="sheldule-content">
                <div class="sheldule-session cotonou">
                    <div class="session-title">
                        <span class="font-size-12 font-weight-400">{% translate "BENIN" %}</span>
                        <span class="mx-1">|</span>{% translate "Restitution workshop - Towards sustainable and healthy living environments in Africa: Public health and territorial planning policies connections" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
