.page-banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 325px;
  color: #fff;
  display: flex;
  align-items: center;
}

.card-layout .card {
  border: 1px solid #ececec;
  transition: 0.5s;
  min-height: 300px;
  width: 100%;
}

.card-layout .card .card-body {
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border-bottom: 4px solid #be3e20;
  padding: 1rem 2rem 2rem 2rem;
}
