{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    {% translate "Venue & Contact" %} - African Cities Conference
{% endblock title %}
{% block static_meta_tag %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title"
          content="{% translate "Venue & Contact" %} - African Cities Conference"/>
    <meta name="twitter:description"
          content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}"/>
    <meta name="twitter:site" content="@AfricanCtiesLab" />
    <meta itemprop='image'
          content="{% static 'images/assets/small-logo.png' %}"/>
    <meta property="og:title"
          content="{% translate "Venue & Contact" %} - African Cities Conference"/>
    <meta property="og:description"
          content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}"/>
    <meta property="og:site_name" content="African Cities Conference" />
    <meta itemprop='image'
          content="{% static 'images/assets/small-logo.png' %}"/>
    <meta itemprop="name"
          content="{% translate "Venue & Contact" %} - African Cities Conference"/>
    <meta itemprop='description'
          content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}"/>
    <meta itemprop='image'
          content="{% static 'images/assets/small-logo.png' %}"/>
{% endblock static_meta_tag %}
{% block css %}
    {{ block.super }}
    <style>
    .page-banner {
      background-image: url({% static 'images/assets/banner-pattern.png' %});
      background-position: top center;
    }
    </style>
{% endblock css %}
{% block content %}
    <section class="page-banner">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-12 col-md-6">
                    <div class="position-relative h1">
                        {% translate "Venue & Contact" %}
                        <span class="dash-accent"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 mb-3 font-size-16">
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <p>
                        {% blocktranslate %}
                        The first annual meeting of the academic and professional world on African cities,
                        will highlight the solutions brought by urban actors to create new city models capable
                        of accommodating the 950 million additional inhabitants who will populate urban environments by 2050.
                        {% endblocktranslate %}
                    </p>
                    <p class="pt-2">
                        {% blocktranslate %}
                        The first edition of this international event will present digital and smart cities as sustainable,
                        inclusive and innovative solutions to the urban challenges facing Africa.
                        {% endblocktranslate %}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 font-size-16 bg-light__">
        <div class="container-xl">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-5">
                    <h4 class="mb-3">{% translate "Sèmè One, Cotonou, Benin" %}</h4>
                    <p>
                        {% blocktranslate %}
                        The first modern and intelligent campus of 4,500 m², includes classrooms, coworking spaces, a language center,
                        offices and a data center. This smart building has a strong African identity and validates the guiding principles,
                        assumptions and functionalities developed for the entire Sèmè City project.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="col-12 col-lg-6 p-5">
                    <img alt="Sèmè One" src="{% static 'images/assets/semeone.jpeg' %}"/>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 font-size-16">
        <div class="container-xl">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-6 p-5 order-1 order-lg-0">
                    <img alt="Passeport, Visa"
                         src="{% static 'images/assets/visa-passport.jpeg' %}"/>
                </div>
                <div class="col-12 col-lg-5 order-0 order-lg-1">
                    <h4 class="mb-3">{% translate "Visa" %}</h4>
                    <p>
                        {% blocktranslate %}
                        Nationals of countries subject to the visa application procedure can now apply for a visa online (e-visa)
                        at <a href="https://evisa.bj/" class="text_primary" target="_blank">https://evisa.bj/</a>. It takes 7 days to obtain a visa.
                        The maximum validity of a visa varies from 30 to 90 days depending on your nationality. If necessary,
                        the organisers will send you an official letter of participation, justifying your travel
                        from your country of origin to Benin.
                        {% endblocktranslate %}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 mb-3 font-size-16">
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 mb-5 text-center">
                    <p>
                        {% blocktranslate %}
                        Follow us on social networks or write to us for any more information or request about
                        the event and how to become a partner.
                        {% endblocktranslate %}
                    </p>
                    <h6 class="mt-2">{% translate "For any request:" %}</h6>
                    <a href="mailto:info-acc@africancitieslab.org" class="text_primary">info-acc@africancitieslab.org</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
