{% extends "base.html" %}
{% load home_tags i18n static %}
{% block static_meta_tag %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="African Cities Conference"/>
    <meta name="twitter:description"
          content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}"/>
    <meta name="twitter:site" content="@AfricanCtiesLab" />
    <meta itemprop='image'
          content="{% static 'images/assets/small-logo.png' %}"/>
    <meta property="og:title" content="African Cities Conference"/>
    <meta property="og:description"
          content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}"/>
    <meta property="og:site_name" content="African Cities Conference" />
    <meta itemprop='image'
          content="{% static 'images/assets/small-logo.png' %}"/>
    <meta itemprop="name" content="African Cities Conference"/>
    <meta itemprop='description'
          content="{% translate "ACC is the first international conference on urban and sustainable development in Africa." %}"/>
    <meta itemprop='image'
          content="{% static 'images/assets/small-logo.png' %}"/>
{% endblock static_meta_tag %}
{% block javascript %}
    {{ block.super }}
    <script defer src="{% static 'js/counttimer.js' %}"></script>
{% endblock javascript %}
{% block content %}
    <section class="civa-banner">
        <div class="container-lg position-relative">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-xl-8 text-center">
                    <h1 class="font-size-3-50em mt-4">{% translate "The African Cities Conference (ACC) - Digital Cities" %}</h1>
                    <div class="countdown-timer__widget">
                        <div class="timer-container position-relative">
                            <span id="days" class="h1"></span>
                            <p>{% translate "Days" %}</p>
                        </div>
                        <div class="timer-container position-relative">
                            <span id="hours" class="h1">230</span>
                            <p>{% translate "Hours" %}</p>
                        </div>
                        <div class="timer-container position-relative">
                            <span id="minutes" class="h1">230</span>
                            <p>{% translate "Minutes" %}</p>
                        </div>
                        <div class="timer-container position-relative">
                            <span id="seconds" class="h1">230</span>
                            <p>{% translate "Seconds" %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container-xl py-md-5">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <p class="font-size-22 py-4 text_primary ">
                        {% translate "African Cities Conference (ACC) is the first international conference on urban and sustainable development in Africa." %}
                    </p>
                </div>
                <div class="col-12 col-lg-6 ">
                    <div class="row info-media-wrap">
                        <div class="col-12 col-md-4 info-media ">
                            <div class="info-media_icon">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="info-media_title">{% translate "Date" %}</h3>
                                <p class="info-media_text font-size-16">{% translate "May 23 & 24" %}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 info-media ">
                            <div class="info-media_icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="info-media_title">{% translate "Location" %}</h3>
                                <p class="info-media_text font-size-16">{% translate "Novotel, Cotonou, Benin" %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 pt-3">
                    <div id="column-2" class="text-justify font-size-16">
                        <p>
                            {% blocktranslate %}
              African digital cities are presented as a reasonable response to future demographic projections and the inability of the public sector
              alone to respond structurally to a strong increase in demand for urban infrastructure and infrastructure and urban services such as housing,
              socio-professional integration, etc.<br>
              {% endblocktranslate %}
                            {% blocktranslate %}
              Challenging the current vision of cities in Africa, digital cities seem to be major players in the urbanization of Africa. At a time when a
              new urban paradigm is being implemented but intrinsic challenges remain, the role of digital cities as drivers of urban development in
              Africa is to be established.<br>
              {% endblocktranslate %}
                            {% blocktranslate %}
              There is today a tangible and growing demand for talented and highly qualified African researchers on the theme of the city and its digitalization.
              This is particularly visible in all areas of the digital transformation of the continent.
              {% endblocktranslate %}
                        </p>
                        <p class="my-2">
                            {% blocktranslate %}
              The « <strong>African Cities Conference (ACC) - Digital Cities</strong> » aims to increase the scope and influence of research,
              innovation and entrepreneurial activities on the African continent related to the digitization of cities, as well as to promote scientific excellence
              in Africa.
              {% endblocktranslate %}
                        </p>
                        <p class="mb-2">
                            {% blocktranslate %}
              Therefore, beyond its thematic focus, ACC aims to advance interdisciplinary research by bridging the disciplinary gap between the different academic
              cultures of the humanities, sciences and application-oriented research, but also the sectoral gap between urban development actors in Africa.
              {% endblocktranslate %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg_secondary text-white py-3">
        <div class="container-xl py-5">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-7">
                    <h1>{% translate "African Cities Conference (ACC) - Digital Cities" %}</h1>
                    <p class="pt-3 font-size-16">
                        {% blocktranslate %}
              The conference organizers cordially invite you to submit your scientific work to
              African Cities Conference (ACC) - Digital Cities to be held
              in Cotonou, Benin, next May 23 & 24
              {% endblocktranslate %}
                    </p>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <a class="btn btn__primary btn__big my-4"
                       href="{% localized_slugurl 'acc-calls' %}">
                        {% translate "Call for papers " %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 position-relative">
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8 text-center">
                <h3 class="section-title mb-3">
                    {% blocktranslate %}
              Topics
            {% endblocktranslate %}
                </h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-4 platform-feature__card d-flex p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="py-3">{% translate "Digitalization of cities and urban planning" %}</h5>
                        <ul class="px-3">
                            <li>{% translate "Digital water and energy management" %}</li>
                            <li class="pt-2">{% translate "Smart waste management and sanitation" %}</li>
                            <li class="pt-2">{% translate "Digital management of education and health" %}</li>
                            <li class="pt-2">{% translate "Digital mobility and transport management" %}</li>
                            <li class="pt-2">{% translate "Land use and land cover management" %}</li>
                            <li class="pt-2">{% translate "Informality & precarious neighbourhoods" %}</li>
                            <li class="pt-2">{% translate "Land tenure and cadastral management" %}</li>
                            <li class="pt-2">
                                {% translate "Quality of Life and Social Layer" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Architecture & Urban Planning" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Energy for Building and Construction Development" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Computer-Aided Civil and Infrastructure Engineering" %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 platform-feature__card d-flex p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="py-3">
                            {% translate "Digital and smart african cities" %}
                        </h5>
                        <ul class="px-3">
                            <li>
                                {% translate "Digital and smart cities strategies in Africa" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Digital and Smart african city stakeholders" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Digital and Smart city infrastructure" %}
                            </li>
                            <li class="pt-2">
                                {% translate "IoT for digital and smart cities" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Robotics, blockchain and crytomoney" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Artificial intelligence and application integration" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Cybersecurity & IS governance for smart cities" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Advanced technologies for African smart cities" %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 platform-feature__card d-flex p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="py-3">
                            {% translate "Remote sensing and Smart geo - information systems " %}
                        </h5>
                        <ul class="px-3">
                            <li>
                                {% translate "GIS and remote sensing" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Citizen sensing and Citizen engagement" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Geo AI and applications" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Spatial data Infrastructures (SDI)" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Interactive visualization and 3D modeling" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Geo Artificial intelligence (Geo AI)" %}
                            </li>
                            <li class="pt-2">
                                {% translate "GIS application (GIS API)" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Collective sensing & spatial big urban data" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Smart geo-addressing and participatory addressing" %}
                            </li>
                            <li class="pt-2">
                                {% translate "SIG and geolocalisation" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Digital twins & twin cities" %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 platform-feature__card d-flex p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="py-3">
                            {% translate "Digital Citizen and digital gouvernance" %}
                        </h5>
                        <ul class="px-3">
                            <li>
                                {% translate "Citizens and Collaborative Governance" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Geopolitics, democratic processes and cyber-citizenship" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Data Governance for smart cities" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Digitalisation and internet 5.0" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Digital tools for smart urban development" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Socio-cultural transformations and social inclusion" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Crowdsourcing and citizen participation" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Digital governance and digital citizenship" %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 platform-feature__card d-flex p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="py-3">
                            {% translate "African digital cities challenges" %}
                        </h5>
                        <ul class="px-3">
                            <li >
                                {% translate "Resilience of African digital cities" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Waste management and sanitation" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Renewable energy and use" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Housing and wellbeing" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Energy and environmental efficiency" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Sustainable development and adaptation of smart cities" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Urban pollution and heat monitoring" %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 platform-feature__card d-flex p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="py-3">
                            {% translate "Urban mobility and transportation" %}
                        </h5>
                        <ul class="px-3">
                            <li >
                                {% translate "ITS (Intelligent Transport Systems)" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Urban mobility" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Travel behavior (travel patterns, route choice, mode choice, etc.)" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Multimodal transportation" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Non-motorized and informal transportation" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Shared mobility (carsharing, bike sharing, etc.)" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Transportation and Traffic Engineering" %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 platform-feature__card d-flex p-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="py-3">
                            {% translate "Emerging urban technologies" %}
                        </h5>
                        <ul class="px-3">
                            <li >
                                {% translate "Construction Robotics" %}
                            </li>
                            <li class="pt-2">
                                {% translate "AI-based solutions" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Mobile currency solutions" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Infrastructure Design tools" %}
                            </li>
                            <li class="pt-2">
                                {% translate "Construction Technology & Engineering" %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light__ py-5">
    <div class="container-xl">
        <div class="row d-flex justify-content-around">
            <div class="col-12 col-lg-4 py-5">
                <h3 class="section-title mb-3">
                    {% blocktranslate %}
                <span class="text_primary">ACC 2023</span> side events
                {% endblocktranslate %}
                </h3>
                <div class="py-3">
                    <p class="font-size-22">
                        {% blocktranslate %}
                      This conference is virtual and presential and open to all.
                      {% endblocktranslate %}
                    </p>
                    <p class="pt-3 text_primary font-size-22">
                        {% blocktranslate %}
                      It will include….
                      {% endblocktranslate %}
                    </p>
                </div>
                <div class="mt-4">
                    <!--a class="btn btn__primary btn__small" href="">
                      {% translate "View conference agenda" %}
                    </a-->
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="accordion accordion-flush" id="ACC-highlights">
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                {% translate "Preliminary Webinars" %}
                            </button>
                        </h4>
                        <div id="flush-collapseOne"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne"
                             data-bs-parent="#ACC-highlights">
                            <div class="accordion-body">
                                {% blocktranslate %}
                          Through a series of 4 webinars, the partners of the African Cities Lab,
                          in collaboration with EPFL, are providing insights for the political and scientific
                          dialogue in the run-up to the Cotonou conference in 2023.
                          The objective of these webinars is to discuss the major themes that make
                          up the African digital city and set the framework for the agenda of the
                          Conference. This webinar series will present research, trends, use cases
                          and critical insights on how cities are or could be more effective in
                          harnessing and leveraging digital technologies to promote sustainable
                          development and achieve SDGs.
                          {% endblocktranslate %}
                                <a href="https://africancitieslab.org/events/" class="text_primary">{% translate "Learn more" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                {% translate "B2B Meetings & Partnerships" %}
                            </button>
                        </h4>
                        <div id="flush-collapseTwo"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo"
                             data-bs-parent="#ACC-highlights">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                {% translate "African smart cities’ Innovation Expo-2023" %}
                            </button>
                        </h4>
                        <div id="flush-collapseThree"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree"
                             data-bs-parent="#ACC-highlights">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                {% translate "Doctoral Consortium & Spring school" %}
                            </button>
                        </h4>
                        <div id="flush-collapseFour"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingFour"
                             data-bs-parent="#ACC-highlights">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                {% translate "Poster & Demos Session" %}
                            </button>
                        </h4>
                        <div id="flush-collapseFive"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-headingFive"
                             data-bs-parent="#ACC-highlights">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="flush-heading9">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse9"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse9">
                                {% translate "Worshops & Tutorials session" %}
                            </button>
                        </h4>
                        <div id="flush-collapse9"
                             class="accordion-collapse collapse"
                             aria-labelledby="flush-heading9"
                             data-bs-parent="#ACC-highlights">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center py-3">
            <div class="col-12 col-md-8">
                <h3 class="section-title text-center">
                    {% translate "Organizations" %}
                </h3>
            </div>
        </div>
        <div class="civa-partners-wrapper mt-4">
            <div class="partners-item">
                <a href="https://africancitieslab.org/" target="_blank" class="d-block">
                    <img alt="African Cties Lab"
                         src="{% static "images/assets/logo-acl.png" %}"/>
                </a>
            </div>
            <div class="partners-item">
                <a href="https://epfl.ch" target="_blank" class="d-block">
                    <img alt="EPFL" src="{% static "images/assets/partners/cus.png" %}"/>
                </a>
            </div>
            <div class="partners-item">
                <a href="https://semecity.bj/en" target="_blank" class="d-block">
                    <img alt="Seme City"
                         src="{% static "images/assets/partners/semecity.png" %}"/>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container pb-5">
        <div class="row justify-content-center pb-5">
            <div class="col-12 col-md-8">
                <h3 class="section-title text-center">
                    {% translate "Academic and institutional partners" %}
                </h3>
            </div>
        </div>
        <div class="civa-partners-wrapper row-title">
            <div class="partners-item">
                <a href="https://seco.admin.ch/seco/en/home.html"
                   target="_blank"
                   class="d-block w-75">
                    <img alt="SECO" src="{% static "images/assets/partners/seco.png" %}"/>
                </a>
            </div>
        </div>
        <div class="civa-partners-wrapper">
            <div class="partners-item">
                <a href="https://epfl.ch" target="_blank" class="d-block">
                    <img alt="EPFL" src="{% static "images/assets/partners/epfl.png" %}"/>
                </a>
            </div>
            <div class="partners-item">
                <a href="https://semecity.bj/en" target="_blank" class="d-block">
                    <img alt="Seme City"
                         src="{% static "images/assets/partners/semecity.png" %}"/>
                </a>
            </div>
            <div class="partners-item">
                <a href="https://um6p.ma" target="_blank" class="d-block">
                    <img alt="UM6P" src="{% static "images/assets/partners/um6p.png" %}"/>
                </a>
            </div>
            <div class="partners-item">
                <a href="https://www.ucar.rnu.tn" target="_blank" class="d-block">
                    <img alt="UCAR" src="{% static "images/assets/partners/ucar.png" %}"/>
                </a>
            </div>
            <div class="partners-item">
                <a href="https://www.knust.edu.gh" target="_blank" class="d-block">
                    <img alt="KNUST" src="{% static "images/assets/partners/knust.png" %}"/>
                </a>
            </div>
            <div class="partners-item">
                <a href="https://ur.ac.rw" target="_blank" class="d-block">
                    <img alt="UR" src="{% static "images/assets/partners/ur.png" %}"/>
                </a>
            </div>
            <div class="partners-item">
                <a href="https://www.uct.ac.za" target="_blank" class="d-block">
                    <img alt="UCT" src="{% static "images/assets/partners/uct.png" %}"/>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-light__ py-5">
    <div class="container-xl">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-5 pt-5 font-size-16">
                <h3 class="section-title mb-4">
                    {% translate "Venue & Contacts" %}
                </h3>
                <h4 class="mb-2 text_secondary">
                    {% translate "Novotel Cotonou Orisha" %}
                </h4>
                <p>
                    <i class="fas fa-circle text_primary mx-2 font-size-12"></i>{% translate "Cotonou, Benin" %}
                </p>
                <p class="pt-2">
                    <i class="fas fa-circle text_primary mx-2 font-size-12"></i>{% translate "May 23 & 24" %}
                </p>
                <div class="mt-3 mb-4">
                    {% blocktranslate %}
            Follow us on social networks or write to us for any more information or request about
            the event and how to become a partner.
            {% endblocktranslate %}
                    <a href="{% url 'contact' %}" class="text_primary">{% translate "Learn more" %}</a>
                </div>
                <div>
                    <h6 class="mb-2">
                        {% translate "For any request:" %}
                    </h6>
                    <a href="mailto:contact@africancitieslab.org" class="text_primary">contact@africancitieslab.org</a>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-5">
                <img alt="Novotel Bénin"
                     src="{% static 'images/assets/novotel-benin.jpeg' %}"/>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
