{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    {% translate "Marketplace" %} | African Cities Lab - 2023 Summit
{% endblock title %}
{% block static_meta_tag %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title"
          content="{% translate "Marketplace" %} | African Cities Lab - 2023 Summit"/>
    <meta name="twitter:description"
          content="{% translate "By 23th and 24th May 2023, the African Cities Lab platform will bring together governments, urban professionals, academic researchers, entrepreneurs, public and private actors and youth from all over the world in order to uplift african cities development." %}"/>
    <meta name="twitter:site" content="@AfricanCtiesLab" />
    <meta itemprop='image'
          content="{% static 'images/assets/visuel-officiel512x512.png' %}"/>
    <meta property="og:title"
          content="{% translate "Marketplace" %} | African Cities Lab - 2023 Summit"/>
    <meta property="og:description"
          content="{% translate "By 23th and 24th May 2023, the African Cities Lab platform will bring together governments, urban professionals, academic researchers, entrepreneurs, public and private actors and youth from all over the world in order to uplift african cities development." %}"/>
    <meta property="og:site_name" content="African Cities Lab - 2023 Summit" />
    <meta itemprop='image'
          content="{% static 'images/assets/visuel-officiel512x512.png' %}"/>
    <meta itemprop="name"
          content="{% translate "Marketplace" %} | African Cities Lab - 2023 Summit"/>
    <meta itemprop='description'
          content="{% translate "By 23th and 24th May 2023, the African Cities Lab platform will bring together governments, urban professionals, academic researchers, entrepreneurs, public and private actors and youth from all over the world in order to uplift african cities development." %}"/>
    <meta itemprop='image'
          content="{% static 'images/assets/visuel-officiel512x512.png' %}"/>
{% endblock static_meta_tag %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/__marketplace.css' %}" rel="stylesheet" />
    <style>
        .page-banner {
           background-image: url({% static "images/assets/banner-aclsummit.jpg" %});
           background-position: top center
        }
    </style>
{% endblock css %}
{% block content %}
    <section class="page-banner">
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-12 col-md-6">
                    <div class="position-relative h1">
                        {% translate "Marketplace" %}
                        <span class="dash-accent"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container-xl pb-5">
            <div class="row exhibitors-list">
                <div class="exhibitors-list__items col-10 col-md-4 col-lg-3">
                    <div class="exhibitors-list__items__item">
                        <div class="exhibitors-list__items__item__logo"
                             style="background-image: url({% static 'images/assets/marketplace/sauvie.png' %})">
                            <a href="{% url 'sauvie' %}"></a>
                        </div>
                        <div class="exhibitors-list__items__item__body">
                            <h4 class="exhibitors-list__items__item__title">
                                <a href="{% url 'sauvie' %}">SAUVIE</a>
                            </h4>
                            <div class="exhibitors-list__items__item__meta">AINO DIGITAL SAS</div>
                        </div>
                    </div>
                </div>
                <div class="exhibitors-list__items col-10 col-md-4 col-lg-3">
                    <div class="exhibitors-list__items__item">
                        <div class="exhibitors-list__items__item__logo"
                             style="background-image: url({% static 'images/assets/ico_company.png' %})">
                            <a href="{% url '229-cadre-de-vie' %}"></a>
                        </div>
                        <div class="exhibitors-list__items__item__body">
                            <h4 class="exhibitors-list__items__item__title">
                                <a href="{% url '229-cadre-de-vie' %}">229 Cadre de vie</a>
                            </h4>
                            <div class="exhibitors-list__items__item__meta">African Design School</div>
                        </div>
                    </div>
                </div>
                <div class="exhibitors-list__items col-10 col-md-4 col-lg-3">
                    <div class="exhibitors-list__items__item">
                        <div class="exhibitors-list__items__item__logo"
                             style="background-image: url({% static 'images/assets/marketplace/logo-citizon.png' %})">
                            <a href="{% url 'citizon' %}"></a>
                        </div>
                        <div class="exhibitors-list__items__item__body">
                            <h4 class="exhibitors-list__items__item__title">
                                <a href="{% url 'citizon' %}">CitizOn</a>
                            </h4>
                            <div class="exhibitors-list__items__item__meta">CasaPocket</div>
                        </div>
                    </div>
                </div>
                <div class="exhibitors-list__items col-10 col-md-4 col-lg-3">
                    <div class="exhibitors-list__items__item">
                        <div class="exhibitors-list__items__item__logo"
                             style="background-image: url({% static 'images/assets/marketplace/RMobilitylogo.png' %})">
                            <a href="{% url 'rmobility' %}"></a>
                        </div>
                        <div class="exhibitors-list__items__item__body">
                            <h4 class="exhibitors-list__items__item__title">
                                <a href="{% url 'rmobility' %}">RMobility</a>
                            </h4>
                            <div class="exhibitors-list__items__item__meta">RAYNIS</div>
                        </div>
                    </div>
                </div>
                <div class="exhibitors-list__items col-10 col-md-4 col-lg-3">
                    <div class="exhibitors-list__items__item">
                        <div class="exhibitors-list__items__item__logo"
                             style="background-image: url({% static 'images/assets/marketplace/fiwe.png' %})">
                            <a href="{% url 'fiwe' %}"></a>
                        </div>
                        <div class="exhibitors-list__items__item__body">
                            <h4 class="exhibitors-list__items__item__title">
                                <a href="{% url 'fiwe' %}">FIWÈ</a>
                            </h4>
                            <div class="exhibitors-list__items__item__meta">FIWÈ</div>
                        </div>
                    </div>
                </div>
                <div class="exhibitors-list__items col-10 col-md-4 col-lg-3">
                    <div class="exhibitors-list__items__item">
                        <div class="exhibitors-list__items__item__logo"
                             style="background-image: url({% static 'images/assets/marketplace/sniffer-bike.png' %})">
                            <a href="{% url 'sniffer-bike' %}"></a>
                        </div>
                        <div class="exhibitors-list__items__item__body">
                            <h4 class="exhibitors-list__items__item__title">
                                <a href="{% url 'sniffer-bike' %}">Sniffer Bike -CUS 2022</a>
                            </h4>
                            <div class="exhibitors-list__items__item__meta">Center of Urban Systems – CUS at UM6P</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
